/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px; /* thickness of vertical scrollbar */
  height: 10px; /* thickness of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* background behind the thumb */
}

::-webkit-scrollbar-thumb {
  background: var(--primary); /* your theme color */
  border-radius: 8px; /* rounded corners */
  border: 2px solid transparent;
  background-clip: content-box; /* gives a "pill" look */
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--primary) 80%, white 20%);
}

/* For Firefox */
* {
  scrollbar-width: thin; /* slim bar */
  scrollbar-color: var(--primary) transparent; /* thumb / track */
}

.winner-border {
  position: relative;
  border-radius: 1rem; /* мора да биде исто со GlassCard */
  overflow: hidden;
}

.winner-border::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  padding: 3px; /* дебелина на бордерот */
  border-radius: inherit;
  background: linear-gradient(90deg, #25b790, #9e4dd4, #f88a79);
  background-size: 300% 300%;
  animation: gradient-move 10s linear infinite;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
