@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

/* Optional: custom font */
body {
  font-family: "Rubik", sans-serif;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -5px);
  }
  100% {
    transform: translate(10px, 5px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite alternate;
}

/* Default light theme */
:root {
  --font-rubik: "Rubik", sans-serif;
  --font-rubik-mono: "Rubik Mono One", monospace;

  --text: #051410;
  --background: #effbf7;
  --primary: #25b790;
  --secondary: #b164e4;
  --accent: #f88a79;
  --glass: #000000;
  --destructive: #ff0000;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ebfaf6;
    --background: #04100c;
    --primary: #37cda5;
    --secondary: #c287e8;
    --accent: #ff7e6b;
    --glass: #5a5a5a;
    --destructive: rgb(239, 39, 39);
  }
}
.dark {
  --text: #ebfaf6;
  --background: #04100c;
  --primary: #37cda5;
  --secondary: #c287e8;
  --accent: #ff7e6b;
  --glass: #5a5a5a;
  --destructive: #ff6b6b;
}
.blink-cursor {
  animation: blink-fade-subtle 2s ease-in-out infinite;
}
@keyframes blink-fade-subtle {
  0%,
  40% {
    opacity: 1;
  }
  55%,
  65% {
    opacity: 0.6;
  }
  80%,
  100% {
    opacity: 1;
  }
}
